
:root {
  --active-btn: #d5d5d5;
  --active-green: #00aa62;
  --active-pink: #d7373b;
  --active-yellow: #e5a722;
  --arrow-active: #231f20;
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-extra-gray: #444444;
  --basic-gray: #666666;
  --basic-white: #ffffff;
  --basic-white-transparent: #ffffff4d;
  --border-template: #0000001a;
  --btn-footer: #e1e1e1;
  --gray-border: #c1c1c1;
  --head-gray: #eeeeee;
  --hoover-green: #00bc6c;
  --hoover-yellow: #eab534;
  --hover-btn: #dfdfdf;
  --hover-red: #e74246;
  --input-border: #d7dcde;
  --input-border-hover: #b4b9bb;
  --light-gray: #4d4d4d;
  --light-gray-transparent: #4d4d4d1f;
  --minimal-gray: #666666;
  --price-controlls-input: #283136;
  --range-controlls: #f1f1f1;
  --range-controlls-box: #cfcfcf;
  --range-controlls-toggle: #ababab;
  --special-green: #00ca74;
  --special-pink: #fb565a;
  --special-yellow: #efc849;
}

* {
  box-sizing: border-box;
}

.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", "Arial", "sans-serif";
  color: var(--basic-black);

  background-color: var(--basic-white);
}

.centered {
  max-width: 1157px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.main-header-wrap {
  background-color: var(--head-gray);
}

.main-header {
  max-width: 1160px;

  background-color: var(--head-gray);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 114px;

  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
}

.main-header-logo {
  margin-top: 49px;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.site-nav {
  display: flex;
  padding-top: 60px;
  padding-left: 204px;

  list-style: none;
  text-transform: uppercase;

  gap: 45px;
}

.site-nav a:hover {
  color: var(--special-pink);
}

.site-nav a:active {
  color: var(--basic-black);

  opacity: 0.3;
}

.site-nav li {
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: var(--special-pink);
}

.basket {
  display: flex;
  margin: 0;
  padding: 60px 0 0 0;

  list-style: none;
  text-transform: uppercase;
}

.basket li {
  position: relative;
}

.basket a:hover {
  color: var(--special-pink);
}

.item-basket a {
  display: flex;
  align-items: center;
  padding-left: 247px;

  gap: 25px;
}

.site-nav a,
.basket a {
  color: var(--basic-black);
  text-decoration: none;
}

.slider-wrapper {
  background-color: var(--head-gray);
}

.slider {
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;

  text-align: center;
}

.slider-item:first-child {
  background-image: url("./img/slider/slide-1.png");
  background-repeat: no-repeat;
  background-position: right;
}

.slider-item:nth-child(2) {
  background-image: url("./img/slider/slide-2.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.slider-item:last-child {
  background-image: url("./img/slider/slide-3.png");
  background-repeat: no-repeat;
  background-position: right;
}

.slider-item-active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-align: left;
}

.slider-title {
  max-width: 538px;
  margin: 0 0 25px 0;
  padding-top: 76px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider-description {
  max-width: 430px;
  margin: 0 0 40px 0;

  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.learn-more {
  margin: 0 0 80px 0;
  padding: 17px 54px 15px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--special-pink);
  border: var(--special-pink) 3px;
  border-radius: 3px;
}

.learn-more:hover {
  background-color: var(--hover-red);
}

.learn-more:active {
  color: var(--basic-white-transparent);

  background-color: var(--active-pink);
}

.sliders-btns-wrap {
  position: absolute;
  bottom: 96px;
  left: 536px;

  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 17px;
}

.slider-btn {
  width: 18px;
  height: 18px;

  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
}

.slider-btn-active:after {
  content: "" ;
  position: absolute;
  top: 5px;
  left: 5px;

  width: 4px;
  height: 4px;

  border: 2px solid var(--gray-border);
  border-radius: 50%;
}

.specializations {
  position: relative;

  max-width: 1160px;
  margin-bottom: 121px;
  padding-top: 80px;
}

.specializations:after {
  content: "";
  position: absolute;
  bottom: -80px;

  width: 1158px;
  height: 2px;

  background-color: var(--head-gray);
}

.specializations-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 100px;
}

.specialization-title {
  margin: 0 0 17px 0;
  padding-top: 16px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.specializations-item p {
  display: inline-block;
  margin: 0 0 32px 0;

  font-size: 16px;
  line-height: 24px;
  vertical-align: baseline;
  color: var(--basic-extra-dark);
}

.order-btn {
  display: inline-block;
  padding: 17px 42px 15px 39px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  vertical-align: baseline;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 3px;
}

.order-btn:active {
  color: var(--basic-white-transparent);
}

.order-btn-web {
  background-color: var(--special-pink);
}

.order-btn-web:hover {
  background-color: #e74246;
}

.order-btn-web:active {
  background-color: var(--active-pink);
}

.order-btn-app {
  background-color: var(--special-green);
}

.order-btn-app:hover {
  background-color: var(--hoover-green);
}

.order-btn-app:active {
  background-color: var(--active-green);
}

.order-btn-presentation {
  background-color: var(--special-yellow);
}

.order-btn-presentation:hover {
  background-color: var(--hoover-yellow);
}

.order-btn-presentation:active {
  background-color: var(--active-yellow);
}

.presentation {
  padding-right: 60px;
}

.about-the-company {
  position: relative;

  display: grid;
  max-width: 1174px;
  margin-bottom: 138px;

  grid-gap: 40px;
  grid-template-columns: repeat(12, 61px);
}

.about-the-company::after {
  content: "";
  position: absolute;
  bottom: -75px;
  left: 9px;

  width: 1158px;
  height: 2px;

  background-color: var(--head-gray);
}

.about-leftside {
  grid-column: 1 / 8;
}

.about-leftside-title {
  margin: 0 0 34px 9px;
  padding-top: 34px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-leftside-description {
  margin: 0 0 40px 9px;

  font-size: 16px;
}

.what-we-do {
  margin: 0 0 24px 9px;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.what-we-do-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 12px;
  padding: 0 0 0 32px;

  list-style: none;

  gap: 24px;
}

.what-we-do-item {
  position: relative;

  font-size: 16px;
}

.what-we-do-item:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -36px;

  width: 25px;
  height: 2px;

  background-color: var(--special-pink);
}

.statistics {
  display: grid;

  grid-column: -1 / -5;
  place-items: center;
}

.statistics img {
  margin-bottom: 37px;
}

.statistic-description {
  margin: 0 0 31px 0;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.percentages-list {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.percentages-item:first-child {
  margin: 0 19px 0 0;
}

.percentages-item:nth-child(2) {
  margin: 0 21px 0 0;
}

.percentages-item-num {
  margin: 0 0 11px 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}


.percentages-item-num sup {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

.percentages-item-desc {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  font-weight: inherit;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-extra-dark);
}

.customers {
  position: relative;

  margin-bottom: 120px;
}

.customers::after {
  content: "";
  position: absolute;
  bottom: -39px;

  width: 1158px;
  height: 2px;

  background-color: var(--head-gray);
}

.customers-list {
  display: flex;
  justify-content: space-between;
  max-width: 1159px;
  margin: 0 auto;
  padding: 0 43px 0 32px;

  list-style: none;
}

.customers-item:nth-child(2) {
  margin-top: -17px;
  padding-right: 9px;
}

.customers-item:nth-child(3) {
  padding-top: 2px;
  padding-right: 25px;
}

.customers-item:last-child {
  margin-top: -11px;
  margin-right: -3px;
}

.customers-item {
  position: relative;
}

.customers-item img {
  opacity: 0.2;
}

.customers-item img:hover {
  opacity: 1;
}

.customers-item img:active {
  opacity: 0.1;
}

.customers-item:not(:last-child)::after {
  content: "";
  position: absolute;

  width: 2px;
  height: 52px;

  background-color: var(--head-gray);
}

.customers-item:first-child::after {
  right: -50px;
}

.customers-item:nth-child(2)::after {
  top: 18px;
  right: -36px;
}

.customers-item:nth-child(3)::after {
  right: -32px;
}

.catalog-welcome {
  display: flex;

  background-color: var(--head-gray);
}

.catalog-title {
  margin: 0 auto 108px;
  padding-top: 78px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.catalog-page {
  display: grid;

  gap: 0 40px;
  grid-auto-flow: column;
  grid-template-columns: repeat(12, 60px);
  grid-template-rows: 133px 1fr;
}

.filter {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}

.legend-cost {
  padding-top: 55px;
}

.sorting {
  grid-column: 5 / -1;
  grid-row: 1 / 2;
}

.templates {
  grid-column: 5 / -1;
  grid-row: 2 / -1;
}

.filter-fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-fieldset:first-child {
  margin-bottom: 54px;
}

.filter-fieldset:nth-child(2) {
  margin-bottom: 43px;
}

.filter-fieldset:nth-child(3) {
  margin-bottom: 48px;
}

.range-filter {
  width: 260px;
  padding-top: 49px;
}

.filter-fieldset legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: var(--range-controlls);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: var(--input-border);
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: var(--special-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: var(--range-controlls-toggle);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--range-controlls-box);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  margin-left: 10px;
  padding: 10px;

  font-size: inherit;
  font-family: inherit;
  text-align: center;
  color: var(--price-controlls-input);

  background: var(--range-controlls);
  border: none;
  border-radius: 5px;
}

.grid {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.grid-item {
  position: relative;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.grid-list {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.grid-item:first-child {
  margin-bottom: 20px;
}

.grid-item:nth-child(2) {
  margin-bottom: 18px;
}

.grid-item label::before {
  content: "";
  position: absolute;
  left: 0;

  width: 17px;
  height: 17px;

  background-color: var(--basic-white);
  border: 4px solid var(--light-gray);
  border-radius: 50%;
  opacity: 0.4;
}

.grid-item input:checked + label::after {
  content: "";
  position: absolute;
  top: 5.5px;
  left: 8px;

  width: 9px;
  height: 9px;

  background-color: var(--light-gray);
  border-radius: 50%;
  opacity: 0.4;
}

.grid-item label {
  display: flex;
  align-items: center;
  padding-left: 36px;
}

.grid-item input:hover + label::before,
.grid-item input:hover + label::after {
  opacity: 1;
}

.grid-item input:disabled + label::before,
.grid-item input:disabled + label::after {
  opacity: 0.1;
}

.grid-item input:disabled + label {
  opacity: 0.3;
}

.features {
  margin-bottom: 14px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.features-item {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.features-list {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item label {
  padding-left: 36px;
}

.features-item input + label::before {
  content: "";
  position: absolute;
  left: 0;

  width: 23px;
  height: 23px;

  background: url(./img/checkboxes/checkbox-off.svg);
  opacity: 0.4;
}

.features-item input:checked + label::before {
  background: url(./img/checkboxes/checkbox-on.svg);
}

.features-item input:hover + label::before {
  opacity: 1;
}

.features-item input:disabled + label::before {
  opacity: 0.1;
}

.features-item input:disabled + label {
  opacity: 0.3;
}

.features-item:not(:last-child) {
  margin-bottom: 21px;
}

.sorting-title {
  display: flex;
  align-items: center;
  padding-top: 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.button {
  display: grid;
  width: 260px;
  height: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;

  background-color: var(--head-gray);
  border: 0;
  border-radius: 3px;

  place-items: center;
}

.button:hover {
  background-color: var(--hover-btn);
}

.button:active {
  background-color: var(--active-btn);
  box-shadow: 0 3px 0 0 #0001011a inset;
  ;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 760px;
}

.sorting-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 47px 0 auto;
  padding: 0;

  list-style: none;
  text-transform: uppercase;

  gap: 26px;
}

.sorting-item {
  line-height: 18px;

  opacity: 0.3;
}

.active-sorting-item {
  opacity: 1;
}

.sorting-item:hover {
  opacity: 0.6;
}

.sorting-item:active {
  opacity: 1;
}

.sorting-item a {
  color: inherit;
  text-decoration: none;
}

.arrows {
  display: flex;

  gap: 18px;
}

.arrow-wrap {
  opacity: 0.3;
}

.arrow-wrap:hover {
  opacity: 0.6;
}

.arrow-wrap:active {
  opacity: 1;
}

.active-arrow {
  opacity: 1;
}

.catalog-list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 31px 41px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 618px 618px 618px;
}

.catalog-item {
  overflow: hidden;

  border-radius: 5px;
}

.decor-dots {
  height: 40px;

  background-color: var(--light-gray-transparent);
  background-image: url("./img/template-header.svg");
  opacity: 0.12;

  gap: 9px;
}

.template-img {
  position: relative;

  margin: 0;

  border: 1px solid var(--border-template);
}

.template-name:hover {
  color: var(--special-pink);
}

.template-name:active {
  color: var(--basic-black);

  opacity: 0.3;
}

.catalog-item:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}


.preview {
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 0;

  background-color: var(--head-gray);
  opacity: 0;

  transition: height 0.2s, opacity 0s;
}

.catalog-item:hover .preview {
  height: 236px;

  opacity: 1;
}

.template-name:focus .preview {
  height: 236px;

  opacity: 1;
}

.catalog-item:hover .decor-dots {
  opacity: 1;
}

.catalog-item img {
  width: 100%;
  height: auto;
}


.template-name {
  margin-bottom: 0;
  padding-top: 23px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

.template-description {
  width: 255px;
  height: 37px;
  margin-right: 5px;
  margin-bottom: 32px;
  padding: 0 20px;
  overflow: hidden;

  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--minimal-gray);
  text-overflow: ellipsis;
}

.catalog-item-price {
  width: 200px;
  height: 50px;

  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);

  background-color: var(--special-pink);
  border: 0;
  border-radius: 3px;
}

.catalog-item-price:hover {
  background-color: var(--hover-red);
}

.catalog-item-price:active {
  background-color: var(--active-pink);
}

.catalog-nav a {
  text-decoration: none;
}

.pagination-list {
  display: flex;
  margin: 0 0 64px 0;
  padding: 55px 0 0 0;

  list-style: none;

  gap: 11px;
}

.pagination-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}

.catalog-nav-btn {
  display: inline-block;
  padding: 17px 20px 15px 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  vertical-align: baseline;
  color: var(--basic-black);

  background-color: var(--head-gray);
  border-radius: 3px;
}

.catalog-nav-btn:hover {
  background-color: var(--hover-btn);
}

.catalog-nav-btn:active {
  color: var(--basic-black);

  background-color: var(--active-btn);
  box-shadow: 0 3px 0 0 #0001011a inset;
}

.active-num {
  display: grid;
  width: 50px;
  height: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);

  background-color: var(--basic-white);
  border: 3px solid #dbdbdb;
  border-radius: 3px;

  place-items: center;
}

.catalog-nav-btn-next {
  padding: 17px 91px 15px 78px;

  text-transform: uppercase;
}

.pagination-item-next {
  text-transform: uppercase;
}

.map {
  position: relative;

  height: 416px;

  background-image: url("./img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px 416px;
}

.map img {
  margin: 0 auto;
}

.yandex-map iframe {
  width: 100%;
  height: 416px;

  border: none;
}

.modal-popup {
  position: absolute;
  top: 54px;
  left: 140px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 319px;
  height: 308px;
  padding: 49px 50px 47px 50px;

  text-align: left;

  background-color: var(--basic-white);
}

.modal-title {
  margin: 0 0 23px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.modal-description {
  margin: 0 0 16px 0;

  font-weight: inherit;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gray);
}

.modal-tel {
  margin: 0 0 37px 0;

  font-weight: inherit;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gray);
  text-decoration: none;
}

.modal-feedback-btn {
  display: inline-block;
  width: 219px;
  height: 60px;
  padding: 17px 42px 15px 42px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  vertical-align: baseline;
  text-align: center;
  color: var(--basic-white);
  text-decoration: none;

  background-color: var(--special-pink);
  border-radius: 3px;
}

.modal-feedback-btn:hover {
  background-color: var(--hover-red);
}

.modal-feedback-btn:active {
  color: var(--basic-white-transparent);

  background-color: var(--active-pink);
}

.main-footer {
  display: grid;
  align-content: center;
  align-items: center;
  height: 217px;

  grid-auto-flow: column;
  grid-gap: 10px 40px;
  grid-template-columns: repeat(12, 60px);
  grid-template-rows: 1fr 1fr;
}

.footer-social {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  list-style: none;

  grid-auto-flow: column;
  grid-column: 1 / 4;
  grid-gap: 9px;
  grid-row: 1 / -1;
}

.social-btn {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 81px;

  background-color: var(--btn-footer);
  border-radius: 50%;
}

.social-btn a {
  display: grid;
  width: inherit;
  height: inherit;

  text-decoration: none;

  border-radius: inherit;

  place-items: center;
}

.social-btn a:hover {
  background-color: var(--hover-red);
}

.social-btn a:active {
  background-color: var(--active-pink);
}

.social-btn a:active svg {
  opacity: 0.3;
}

.sale-footer {
  margin: 0;

  grid-column: 6 / -1;
}

.sale-title {
  align-self: end;
  margin-bottom: -5px;
  margin-left: -100px;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.sale {
  align-self: start;
  margin-top: 6px;
  margin-left: -100px;

  font-size: 16px;
  line-height: 22px;
  color: var(--basic-extra-gray);
}


.popup {
  position: fixed;
  top: 10%;

  display: flex;
  flex-direction: column;
  max-width: 960px;
  height: 590px;
  margin-left: 50%;
  padding: 63px 100px 84px 100px;

  background-color: var(--basic-white);
  box-shadow: 0 20px 40px 0 #00000066;
  transform: translate(-50%);

  transition: 0.2s;
}

.form-popup {
  position: relative;

  display: grid;

  grid-gap: 40px;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: 77px 145px 50px;
}

.popup-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;

  grid-column: 2 / 6;
  grid-row: 1 / 2;
}

.form-name {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.form-email {
  grid-column: -5 / -1;
  grid-row: 1 / 2;;
}

.form-text {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.form-text textarea {
  width: 760px;
  height: 118px;

  resize: none;
}


.form-name input,
.form-email input {
  width: 360px;
  height: 50px;
}

.form-popup label {
  display: flex;
  flex-direction: column;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  gap: 9px;
}

.form-popup input {
  padding: 16px;

  border: solid 2px var(--input-border);
}

.form-popup input:hover {
  border: solid 2px var(--input-border-hover);
}

.form-popup input:required {
  color: var(--hover-red);

  border: solid 2px var(--hover-red);
}

.form-popup input:focus {
  color: var(--basic-black);

  border: solid 2px var(--basic-black);
}

.form-popup textarea {
  padding: 16px;

  border: solid 2px var(--input-border);
}

.form-popup textarea:hover {
  border: solid 2px var(--input-border-hover);
}

.form-popup textarea:focus {
  color: var(--basic-black);

  border: solid 2px var(--basic-black);
}

input.send-form {
  padding: 17px 83px 15px 83px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);

  background-color: var(--special-pink);
  border: none;
  border-radius: 3px;

  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

input.send-form:hover {
  background-color: var(--hover-red);
}

input.send-form:active {
  color: var(--basic-white-transparent);

  background-color: var(--active-pink);
}

.close-btn {
  position: absolute;
  top: 78px;
  right: 90px;

  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.close-btn:hover {
  opacity: 1;
}

.close-btn:active {
  opacity: 0.1;
}

.invalid-input {
  color: var(--hover-red);

  border: 2px solid var(--hover-red);
}

.popup-hide {
  transform: translateX(-200%);
}
