@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotobold.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotomedium.woff2);
  font-weight: 500;
  font-style: normal;
}

:root {
--basic-black: #000000;
--basic-extra-dark: #283136;
--basic-gray: #666666;
--basic-extra-gray: #444444;
--head-gray: #EEEEEE;
--special-pink: #FB565A;
--special_green: #00CA74;
--secial-yellow: #EFC849;
--basic-white: #ffffff;
}

body {
min-width: 960px;
margin: 0;
padding: 0;
font-family: "Roboto", "Arial", "sans-serif";
font-size: 14px;
line-height: 24px;
font-weight: 400;
color: var(--basic-black);
background-color: var(--basic-white);
}

.main-nav {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: 500;
}

.site-nav {
  list-style: none;
}

.basket {
  list-style: none;
}

.site-nav a,
.basket a {
  color: var(--basic-black);
  text-decoration: none;
}

.features-list {
  list-style: none;
}

.features-slider {
  text-align: center;
}

.features-slider h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500px;
}

.features-slider p {
  font-size: 16px;
  line-height: 24px;
}

.learn-more {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-white);
  text-decoration: none;
  border: var(--special-pink) 3px;
  background-color: var(--special-pink);
}

.specializations-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.specializations-item p {
  font-size: 16px;
  line-height: 24px;
}

.order-web {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-decoration: none;
  background-color: var(--special-pink);
}

.order-app {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-decoration: none;
  background-color: var(--special_green);
}

.order-presentation {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-decoration: none;
  background-color: var(--secial-yellow);
}

.about-the-company h3 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-the-company p {
  font-size: 16px;
}

.about-the-company h4 {
  font-size: 16px;
  font-weight: 700;
}

.about-the-company .what-we-do-item {
  font-size: 16px;
}

.statistics p {
  font-size: 16px;
  font-weight: 700;
}

.statistics .percentages-item-num {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
}

sup {
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
}

.statistics .percentages-item-desc {
  font-size: 16px;
  line-height: 18px;
  font-weight: inherit;
}

.footer-sale h4 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.footer-sale p {
  font-size: 16px;
  line-height: 22px;
}

