
:root {
--basic-black: #000000;
--basic-extra-dark: #283136;
--basic-gray: #666666;
--basic-extra-gray: #444444;
--head-gray: #EEEEEE;
--light-gray: #4D4D4D;
--minimal-gray: #666666;
--special-pink: #FB565A;
--special-green: #00CA74;
--secial-yellow: #EFC849;
--basic-white: #ffffff;
}

.page-body {
min-width: 1440px;
margin: 0;
padding: 0;
font-family: "Roboto", "Arial", "sans-serif";
font-size: 14px;
line-height: 24px;
font-weight: 400;
color: var(--basic-black);
background-color: var(--basic-white);
}

.centered {
  padding: 0 140px;
  margin: 0 auto;
}

.main-header-wrap {
  background-color: var(--head-gray);
}

.main-header {
  background-color: var(--head-gray);
  max-width: 1160px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 114px;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: 500;
}

.main-header-logo {
  margin-top: 49px;
}

.site-nav {
  display: flex;
  gap: 45px;
  list-style: none;
  margin-top: 45px;
}

.basket {
  display: flex;
  gap: 100px;
  padding-top: 75px;
  list-style: none;
}

.site-nav a,
.basket a {
  color: var(--basic-black);
  text-decoration: none;
}

.slider-wrapper{
  background-color: var(--head-gray);
}

.slider {
  max-width: 1157px;
  position: relative;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
  text-align: center;
}

.slider-item:first-child {
  background-image: url("/img/slider/slide-1.png");
  background-repeat: no-repeat;
  background-position: right;
}

.slider-item-active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.slider-title {
  padding-top: 78px;
  margin: 0 0 25px 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500px;
}

.slider-description {
  margin: 0 0 38px 0;
  font-size: 16px;
  line-height: 24px;
}

.learn-more {
  margin: 0 0 80px 0;
  padding: 17px 54px 15px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-white);
  border: var(--special-pink) 3px;
  background-color: var(--special-pink);
}

.sliders-btns-wrap {
  position: absolute;
  bottom: 96px;
  left: 536px;
}

.specializations {
  max-width: 1160px;
  padding-top: 80px;
  margin-bottom: 121px;
}

.specializations-list {
  display: flex;
  gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.specialization-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.specializations-item p {
  margin: 0 0 49px 0;
  font-size: 16px;
  line-height: 24px;
}

.order-web {
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-decoration: none;
  background-color: var(--special-pink);
}

.order-app {
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-decoration: none;
  background-color: var(--special-green);
}

.order-presentation {
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-decoration: none;
  background-color: var(--secial-yellow);
}

.presentation {
  padding-right: 60px;
}

.about-the-company {
  display: flex;
  max-width: 1174px;
  justify-content: space-between;

}

.about-leftside-title {
  margin: 0 0 32px 0;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-leftside-description {
  margin: 0 0 40px 0;
  font-size: 16px;
}

.what-we-do {
  margin: 0 0 23px 0;
  font-size: 16px;
  font-weight: 700;
}

.what-we-do-item {
  font-size: 16px;
}

.statistic-description {
  font-size: 16px;
  font-weight: 700;
}

.percentages-item-num {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
}

.sup {
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
}

.percentages-item-desc {
  font-size: 16px;
  line-height: 18px;
  font-weight: inherit;
}

.sale-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.sale {
  font-size: 16px;
  line-height: 22px;
}

.catalog-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.cost {
  font-size: 18px;
  font-weight: 700;
  line-height: 30;
}

.cost-from {
  font-size: 16px;
  line-height: 22px;
}

.cost-before {
  font-size: 16px;
  line-height: 22px;
}

.grid {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.grid-item {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.grid-list {
  list-style: none;
}

.features {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.features-item {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.features-list {
  list-style: none;
}

.sorting-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.sorting-list {
  list-style: none;
}

.sorting-item {
  line-height: 18px;
}

.sorting-item a {
  text-decoration: none;
  color: inherit;
}

.catalog-list {
  list-style: none;
}


.template-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  color: inherit;
}

.template-description {
  font-size: 16px;
  line-height: 18px;
  color: var(--minimal-gray);
}

.catalog-item-price {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--special-pink);
  border: solid 3px;
  width: 200px;
  height: 50px;
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
}


.footer-social {
  list-style: none;
}

.footer-social a {
  text-decoration: none;
  color: var(--basic-black);
}

.sale-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.sale {
  font-size: 16px;
  line-height: 22px;
}

.catalog-title {
  display: flex;
  background-color: var(--head-gray);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}




